html {
	background: url(images/renders/small/Privizio_face_extended_s.jpg); 
	background-size: cover; 
	background-repeat: no-repeat;
}

.header {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1%;
}

.header_logo img {
	height: 20%;
	width: 30%;
	float: left;
	padding-left: 3%;

}

.logo_blue {visibility: hidden;

} 


.header_logo img:hover {

}

.nav {
	display: flex;
	padding-right: 10%;
    position: relative;
}

.nav_link {
	  display: inline-block;
    color:#007cf7;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
}

.nav_link:hover {
	color: #007cf7;
	transition-duration: .3s;
}

.nav_link:after {
  background-color: #007cf7;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .5s ease-in-out;
    -moz--transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);


}

.nav_link:hover:after,
.nav_link:hover:after{
	width: 100%;
}


.nav>a {
	margin-right: 8%;
	text-decoration: none;
	color:black;
	font-size: 1.6vw;
	font-family: 'Signika Negative', sans-serif;
}

.banner {
	float: right;
	font-size: 3.5vw;
	font-family:'Libre Baskerville', serif;
	padding:3% 10% 0;
}