html {
	background: url(images/renders/Privizio_face_extended.jpg); 
	background-size: cover; 
	background-repeat: no-repeat;
}

.header {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1%;
}

.header>img {
	height: 20%;
	width: 30%;
	float: left;
	padding-left: 3%;

}

.nav {
	display: flex;
	padding-right: 3%;
	font-size: 0.5vw;
}

.nav_link {
	padding-right: 30px;
	text-decoration: none;
	color:black;
	font-size: 1.6vw;
	font-family: 'Signika Negative', sans-serif;
}

